<library path="src">
  <class name="NavigationView" type="rqt_nav_view.nav_view_plugin.NavViewPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
    Display for navigation.
    </description>
    <qtgui>
      <label>Navigation Viewer</label>
      <icon type="theme">video-display</icon>
      <statustip>Navigation Viewer</statustip>
    </qtgui>
  </class>
</library>
