<library path="src">
  <class name="Plot" type="rqt_plot.plot.Plot" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin plotting data from ROS messages using PyQwt5.
    </description>
    <qtgui>
      <label>Plot</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A Python GUI plugin plotting data from ROS messages using PyQwt5.</statustip>
    </qtgui>
  </class>
</library>
