<library path="src">
  <class name="Bag" type="rqt_bag.bag.Bag" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying and replaying ROS bag files.
    </description>
    <qtgui>
      <label>Bag</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for displaying and replaying ROS bag files.</statustip>
    </qtgui>
  </class>
</library>
