<library path="src">
  <class name="TopicPlugin" type="rqt_topic.topic.Topic" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to introspect ROS topics.
    </description>
    <qtgui>
      <label>Topic Introspection</label>
      <icon type="theme">system-search</icon>
      <statustip>A Python GUI plugin to introspect ROS topics.</statustip>
    </qtgui>
  </class>
</library>
