<library path="src">
  <class name="RobotSteering" type="rqt_robot_steering.robot_steering.RobotSteering" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to steer a robot with a geometry_msgs/Twist message.
    </description>
    <qtgui>
      <label>Robot Steering</label>
      <icon type="theme">input-gaming</icon>
      <statustip>A Python GUI plugin to steer a robot with a geometry_msgs/Twist message.</statustip>
    </qtgui>
  </class>
</library>
