<library path="src">
  <class name="Messages" type="rqt_msg.messages.Messages" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for introspecting available ROS message types.
    </description>
    <qtgui>
      <label>Message Introspection</label>
      <icon type="theme">mail-read</icon>
      <statustip>A Python GUI plugin for introspecting available ROS message types.</statustip>
    </qtgui>
  </class>
</library>
