<library path="src">
  <class name="RosPackGraph" type="rqt_dep.ros_pack_graph.RosPackGraph" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize a ROS package network.
    </description>
    <qtgui>
      <label>ROS Package Graph</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to visualize a ROS package network.</statustip>
    </qtgui>
  </class>
</library>
