<library path="src">
  <class name="ServiceCaller" type="rqt_service_caller.service_caller.ServiceCaller" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin calling ROS services.
    </description>
    <qtgui>
      <label>ServiceCaller</label>
      <icon type="theme">media-playback-start</icon>
      <statustip>A Python GUI plugin calling ROS services.</statustip>
    </qtgui>
  </class>
</library>
