<library path="lib/librqt_rviz">
  <class name="rqt_rviz/RViz" type="rqt_rviz::RViz" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin version of rviz.
    </description>
    <qtgui>
      <label>RViz</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin version of rviz</statustip>
    </qtgui>
  </class>
</library>
