<library path="src">
  <class name="MatPlot" type="rqt_matplot.mat_plot.MatPlot" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin plotting data from ROS messages using matplotlib.
    </description>
    <qtgui>
      <label>MatPlot</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A Python GUI plugin plotting data from ROS messages using matplotlib.</statustip>
    </qtgui>
  </class>
</library>
