<library path="src">
  <class name="RosGraph" type="rqt_graph.ros_graph.RosGraph" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize a ROS computation graph.
    </description>
    <qtgui>
      <label>ROS Graph</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to visualize a ROS computation graph.</statustip>
    </qtgui>
  </class>
</library>
