<library path="src">
  <class name="Publisher" type="rqt_publisher.publisher.Publisher" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin publishing ROS messages.
    </description>
    <qtgui>
      <label>Publisher</label>
      <icon type="theme">media-playback-start</icon>
      <statustip>A Python GUI plugin publishing ROS messages.</statustip>
    </qtgui>
  </class>
</library>
