<library path="lib/librqt_image_view">
  <class name="rqt_image_view/ImageView" type="rqt_image_view::ImageView" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <label>Image View</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to view a sensor_msgs/Image topic.</statustip>
    </qtgui>
  </class>
</library>
